.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}
.filter-options{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.button{
    border: none;
}