.task-list {
    height: 80vh;
    width: 50vw;
}
.header {
    border-bottom: 1px solid grey;
    padding: 5px;
    font-size: 44px;
    text-align: center;
}
.lists-box{
    /* height: 400px; */
    background: #fff;
    border: 1px solid rgb(182, 192, 182);
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
}
.lists{
    height: 400px;
    overflow: auto;
    margin: 10px;
}
.add-list{
    padding: 15px 10px;
    border-bottom: 1px solid lightgrey;
}